@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-cyan:hsl(158, 36%, 37%);
    --very-dark-cyan:hsl(158, 36%, 17%);
    --cream:hsl(30, 38%, 92%);
    --very-dark-blue:hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

body {
    background-color: var(--cream);
    /* font-family: 'Fraunces', serif; */
    font-family: 'Montserrat', sans-serif;
    display: grid;
}

.card{
    justify-self: center;
    width: 43vw;
    background-color: var(--white);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "image info";
    margin-top: 20vh;
    /* column-gap: 1em; */
    border-radius: 1em;
}

.product-image{
    grid-area: image;

    /* background: url("./images/image-product-desktop.jpg"); */
    
}
.view{
    max-width: 100%;
    height: auto;
}

.product{
    grid-area: info;

    display: grid;
    grid-template-rows: repeat(5,auto);
    align-items: center;
    margin: 1em 2em;
}

.product-catagory{
    color: var(--dark-grayish-blue);
    letter-spacing: 0.5em;
    font-size: 0.7em;
}

.product-title{
    font-family: 'Fraunces', serif;
    font-size: 1.5em;
    line-height: 1.2em;

}

.product-description{
    color: var(--dark-grayish-blue);
    line-height: 1.2em;
}

.product-description h2{
    font-size: 0.8em;
    font-weight: 500;
}

.product-price{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.product-discount-price{
    color: var(--dark-cyan);
    font-family: 'Fraunces', serif;
    font-size: 1.8em;
}

.product-original-price{
    flex-grow: 1;
    /* display: flex;
    justify-content: center; */
    margin-left: 1.5em;
    color: var(--dark-grayish-blue);
    text-decoration: line-through;
    font-size: 0.7em;
}

.product-buy-button{
    display: flex;
    justify-content: center;
}

.product-buy-button button{
    background-color: var(--dark-cyan);
    border: none;
    flex-grow: 1;    
    padding: 1em 0em;
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.product-buy-button button:hover{
    background-color: var(--very-dark-cyan);
}

.product-buy-button button img{

}

.product-buy-button button p{
    color: var(--white);
    font-weight: 700;
    margin-left: 1em;
}
@media (max-width: 375px) {
    .card{
        grid-template-rows: auto 1.5fr;
        grid-template-areas: "image"
            "info";
    }
}